.card {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 1rem;
    text-align: center;

    @media (min-width: 640px) {
        min-width: 200px;
    }
}

.image {
    display: block;
    width: 100%;
    margin: 0 0 1rem;
}

.title {
    font-size: 0.85rem;
}

.rating {
    position: absolute;
    top: -0.85rem;
    right: 0;
    width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    background: var(--colour-rating);
    color: var(--colour-rating-text);
}
