.select {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    border-bottom: 1px solid #4e4e4e;
    outline: none;
    background: none;
}

.button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    background: var(--colour-accent);
    text-align: center;

    &:hover,
    &:focus {
        background: var(--colour-accent-darker);
    }
}
