.scroll {
    margin: 1rem -1rem 0;
    white-space: norwrap;
}

.wrapper {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(#000, 0.1);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #b7b7b7;
    }
}
