.input {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0;
    border-bottom: 1px solid #4e4e4e;
    background: none;

    &:focus {
        text-align: left;
        outline: none;
    }
}
