.input {
    display: block;
    width: 100%;
    max-width: 120px;
    padding: 0.5rem 1rem;
    border: 0;
    background: none;

    @media (min-width: 640px) {
        max-width: 480px;
    }

    &:focus {
        text-align: left;
        outline: none;
        background: #1d1d1d;
    }
}
