@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --colour-background: #1f252d;
        --colour-background-popout: #1d1d1d;
        --colour-accent: #5740cf;
        --colour-accent-darker: #412ea3;
        --colour-text: #e9dfe0;
        --colour-border: #333333;
        --colour-rating: #dfb31d;
        --colour-rating-text: #000000;
        --gutter: 1rem;
        --font: 'Open Sans', sans-serif;
    }
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--font);
    font-weight: 300;
    background: var(--colour-background);
    color: var(--colour-text);
}

.heading {
    margin: 0 0 1rem;
    font-size: 1.5rem;
}
